{% extends 'AppBundle:layouts:main_layout.html.twig' %}
{% block title %}
    Social Network - People
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row box-users">
            {% if type == 'following' %}
                <h2 class="box-header">People who are following: {{ profileUser.nickname }}</h2>
            {% else %}
                <h2 class="box-header">Followers of: {{ profileUser.nickname }}</h2>
            {% endif %}
            <div class="count">
                <span class="label label-primary">
                    Total of Users: {{ pagination.getTotalItemCount }}
                </span>
            </div>
            <hr>
            <div class="box-content">
                {% for follow in pagination %}
                    {% if type == 'following' %}
                        {% set user = follow.userFollowed %}
                    {% else %}
                        {% set user = follow.userFollows %}
                    {% endif %}
                    <div class="user-item col-lg-12">
                        <div class="avatar">
                            {% if user.image == null %}
                                <img src="{{ asset('assets/images/default.png') }}" class="img-circle img-responsive">
                            {% else %}
                                <img src="{{ asset('uploads/users/'~user.image) }}" alt="{{ user.firstName }} {{ user.lastName }}" class="img-responsive img-circle">
                            {% endif %}
                        </div>

                        <div class="user-detail pull-left">
                            <p class="user-fullname">
                                <a href="{{ path('user_profile', {'nickname': user.nickname}) }}">
                                    {{ user.firstname }} {{ user.lastname }}
                                </a>
                            </p>
                            <p class="user-nickname">@{{ user.nickname }}</p>
                        </div>

                        {% if app.user.id != user.id %}
                            <div class="pull-right">
                                <a class="btn btn-sm btn-primary js-btn-follow{% if app.user|following(user) == true %} hidden{% endif %}" id="btn_follow" data-followed="{{ user.id }}">
                                    Follow
                                </a>
                                <button class="btn btn-sm btn-default js-btn-unfollow{% if app.user|following(user) == false %} hidden{% endif %}" id="btn_unfollow" data-followed="{{ user.id }}">
                                    Unfollow
                                </button>
                            </div>
                        {% endif %}

                        <div class="clearfix"></div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/users.js') }}"></script>
{% endblock %}