{% extends 'AppBundle:layouts:main_layout.html.twig' %}
{% block title %}
    Social Network - People
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row box-users">
            <h2 class="who-to-follow">Who to follow</h2>
            <div class="count">
                <span class="label label-primary">
                    Total of Users: {{ users.getTotalItemCount }}
                </span>
            </div>
            <hr>
            <div class="box-content">
                {% for user in users %}
                    <div class="user-item col-lg-12">
                        <div class="avatar">
                            {% if user.image == null %}
                                <img src="{{ asset('assets/images/default.png') }}" class="img-circle img-responsive">
                            {% else %}
                                <img src="{{ asset('uploads/users/'~user.image) }}" alt="{{ user.firstName }} {{ user.lastName }}" class="img-responsive img-circle">
                            {% endif %}
                        </div>

                        <div class="user-detail">
                            <p class="user-fullname">{{ user.firstname }} {{ user.lastname }}</p>
                            <p class="user-nickname">@{{ user.nickname }}</p>
                        </div>

                        {% if app.user.id != user.id %}
                            <div class="pull-right">
                                <button class="btn btn-sm btn-primary" id="btn-follow" data-followed="{{ user.id }}">Follow</button>
                                <button class="btn btn-sm btn-default" id="btn-unfollow" data-followed="{{ user.id }}">Unfollow</button>
                            </div>
                        {% endif %}

                        <div class="clearfix"></div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/users.js') }}"></script>
{% endblock %}