{% extends 'AppBundle:layouts:main_layout.html.twig' %}
{% block title %}
    Social Network - Home
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-lg-7 box-default" id="timeline">
            <h1 class="box-header">Timeline</h1>
            <div class="box-content">

                {% for publication in publications %}
                    <div class="col-lg-12 publication-item">
                        <div class="avatar">
                            {% if publication.user.image == null %}
                                <img src="{{ asset('assets/images/default.png') }}" class="img-circle img-responsive">
                            {% else %}
                                <img src="{{ asset('uploads/users/'~publication.user.image) }}" alt="{{ publication.user.firstName }} {{ publication.user.lastName }}" class="img-responsive img-circle">
                            {% endif %}
                        </div>
                        <div class="publication-item-content">
                            <p>
                                <a class="publication-name-link" href="#">
                                    {{ publication.user.firstName }} {{ publication.user.lastName }}
                                </a>
                                -
                                {{ publication.user.nickname }}
                                <span class="publication-date pull-right">{{ publication.createdAt|long_time }}</span>
                            </p>

                            <p>{{ publication.content }}</p>


                            {% if publication.document is defined and publication.document != null %}
                                <a href="{{ asset('uploads/publications/documents/'~publication.document) }}"
                                   class="btn btn-doc glyphicon glyphicon-save" aria-hidden="true" target="_blank">
                                </a>
                            {% endif %}

                            {% if publication.image is defined and publication.image != null %}
                                <span class="btn-img glyphicon glyphicon-picture" aria-hidden="true"></span>
                                <div class="clearfix"></div>
                                <div class="publication-image">
                                    <img src="{{ asset('uploads/publications/images/'~publication.image) }}" alt="">
                                </div>
                                
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(publications) }}
                </div>
            </div>

        </div>
        <div class="col-lg-4 box-default" id="user_card">
            <div class="avatar">
                {% if app.user.image == null %}
                    <img src="{{ asset('assets/images/default.png') }}" class="img-circle img-responsive">
                {% else %}
                    <img src="{{ asset('uploads/users/'~app.user.image) }}" alt="{{ app.user.firstName }} {{ app.user.lastName }}" class="img-responsive img-circle">
                {% endif %}
            </div>
            <div class="name-lastname">
                <a href="#">{{ app.user.firstName }} {{ app.user.lastName }}</a>
                <div class="clearfix"></div>
                <span class="nickname">
                    @{{ app.user.nickname }}
                </span>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 box-default" id="new_publication">
            <h1 class="box-header">New Publication</h1>

            {{ form_start(form, {action: '', 'method': 'post'}) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/home.js') }}"></script>
{% endblock %}